include *.rst
include *.txt
include LICENCE
include setup.py
include setup.cfg
include pavement.py
include paver-minilib.zip
include bootstrap.py
recursive-exclude . *.pyc

recursive-include docs *
prune docs/build
recursive-exclude docs *.pyc

recursive-include src/paver/templates/paster-templates *

recursive-include support-files *